#hdrlogo {
    width: 150px;
}
.header {
    /* width: 100vh;
    height: 80px; */
    /* position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
    padding-top: 8px;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 0.25px solid rgb(255,95,162);

    /* size: 40px; */
}
#greeting {
    float: right;
    padding-top: 25px;
    font-size: 25px;
}